{% if object.isExpired or object.expiresSoon %}
<a href="{{ path('admin_jobeet_frontend_job_extend',{ 'token':object.getToken }) }}"><img src="{{ asset('bundles/sonataadmin/famfamfam/note_go.png') }}" alt="Extend" title="Extend"></a>
{% endif %}